@CHARSET "ISO-8859-1";

#banner{
	height:180px;
}
#headeractions{
	position: relative;
    top: -15px	;
}

#leftColumn{
	position:relative;
	padding-top: 40px;
	top: -200px;
}

[class^="micon-"],
[class*=" micon-"] {
  display: inline-block;
  left:3px;
  width: 14px;
  height: 14px; 
  line-height: 18px;
  vertical-align: text-top; 
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.micon-sharingicon {
	 background-image: url("../images/cssicons/sharing.jpg");
  background-position: 14px 14px;
}
.micon-eventicon {
	 background-image: url("../images/cssicons/events.jpg");
  background-position: 14px 14px;
}
.micon-mydashicon {
	 background-image: url("../images/cssicons/dashboard.jpg");
  background-position: 14px 14px;
}
.micon-filesicon {
	 background-image: url("../images/cssicons/files.png");
  background-position: -24px 0;
}

div.banner{
  height: 49px;
}
div.headeractions{
	position:fixed;
	top:30px;
	right:5px;
	width: 50px;
  	height: 10px;
}